<!DOCTYPE html>
<html>
<head>
    <title>Snake</title>
	<meta name="viewport" content="width=device-width, initial-scale=0.8">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
<h1>Snake</h1>

<p><a href="/leaderboard">View Leaderboard</a></p>
	<form id="username-form">
		<label for="username">Enter your username:</label>
		<input type="text" id="username" name="username" required>
		<input type="submit" value="Start Game">
	</form><p>Score: <span id="score">0</span></p>
<p>Highscore: <span id="high_score">0</span></p>
<div id="message-box"></div>
<canvas id="canvas"></canvas>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../static/js/snake.js"></script>
</script>
</body>
</html>
